<%- include("header") -%>
<h1>Choose Your Fruit Color</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    Fruit Color
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">Red</button></li>
    <li><button class="dropdown-item" type="button">Green</button></li>
    <li><button class="dropdown-item" type="button">Blue</button></li>
  </ul>
</div>

<%- include("footer") -%>
