<%- include("header") -%>

<div class="welcome">
  <h1>Welcome to the Classic "Eat-Em-Up" Snake!</h1>
  <br>

</div>
<p class="signin">Sign in now or register to save your high score!</p>
<div class="choices">


  <a type="button" style= "color:black" href="/login" class="btn signon btn-success">Login</a>


  <a type="button" style= "color:black" href="/register" class="btn signon btn-danger">Register</a>
  <br>
  <a href="/game.html"><button type="button" name="button">Free Play</button></a>
</div>


  <hr>
































<%- include("footer") -%>
