<%- include('../template/head')-%>

  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> High Scores</h1>
        <!-- need to pull data from back and map it and list it  -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">score</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>10</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>20</td>
              <td>Thornton</td>
            </tr>
          </tbody>
        </table>

        <hr />
      </div>
    </div>
  </body>
</html>