<%- include('../template/head')-%>



  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> High Scores</h1>
        <!-- need to pull data from back and map it and list it  -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">score</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user,i){ %>
            <tr>
              <td scope="row"><%= i + 1 %></td>
              <td scope="row"><%= user.handle %></td>
              <td scope="row"><%= user.highscore %></td>
            </tr>
            <% }) %>

          </tbody>
        </table>
        <hr />
      </div>
    </div>
  </body>
</html>