<!-- (Mike, Jorge, Devon, Jeff) -->

<!-- Navigation Partial Template -->
<header class="masthead mb-auto">

  <div class="inner">
    <h3 class="masthead-brand">Snake Game</h3>
    <% if (user.handle) { %>
    
    <% console.log('here') %>
    <h3 id="handle"><%= user.handle %></h3>
    <% } %>
    <% if (!user.handle) { %>
      <h3> No user signed in. </h3>
      <% } %>
    <nav class="nav nav-masthead justify-content-center">
      <a id="home" class="nav-link" href="/">Home</a>
      <a id="login" class="nav-link" href="/login">Login</a>
      <a id="signup" class="nav-link" href="/signup">Sign Up</a>
      <a id="table" class="nav-link" href="/highScores">Scores</a>

      <% if (user.handle) { %>
        <a id="logout" class="nav-link" href="/logout">Logout</a>

      <a id="game" action="/api/users/sendHandle" method="post" class="nav-link" href="/game">Play</a>
      <% } %>
    </nav>
    <script>
      console.log('here')
      const myuser = document.getElementById('handle')
      if(myuser.innerHTML) localStorage.setItem('user', myuser.innerHTML)

    </script>
  </div>
</header>
